.privacy-title {
  margin: 1rem auto;
  max-width: 800px;
  width: 80%;

  &-appname {
    color: $default-color;
    margin: 0;
  }
}

.privacy {
  padding: 0;

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }
}
